<!-- your html code here -->
<div class="container bg-white p-5">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit est soluta perspiciatis autem officia voluptatem aperiam nulla possimus saepe voluptate. Consequuntur quae, atque iste placeat vero obcaecati voluptatibus accusantium provident?</p>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-8 bg-light ">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your E-mail">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your massage</label>
                <textarea class="form-control" placeholder="Please enter your message here..." id="exampleFormControlTextarea1" rows="3"></textarea>
                <div class="row justify-content-end">
                    <button class="m-3 bg-primary col-2 p-2 text-light border-0">Submit</button>
                </div>

              </div>
        </div>
    </div>   

        
    </div>
    
    
</div>
