<!-- your html code here -->
<div class="container bg-white">
    <div class="row py-5 px-1">
        <div class="col-1"></div>
        <div class="col-7">
            <p class="h2">The First Heading <span class="lead">Will Catch Your Eye</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam rerum repellat, vero quod neque est, suscipit et recusandae autem ipsum, optio ipsam. Dolorum ipsa eligendi culpa dolore, labore maiores.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/1.jpg" class="circle" alt="">
        </div>
    </div>
</div>