<!-- your html code here -->
<div class="container bg-white p-5">
    <div class="container ">
        <h2>Portfolio</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda aliquam reiciendis nesciunt odio sed fugit, officiis totam excepturi officia facilis veniam obcaecati ut sapiente quo dolore in, qui natus.</p>
        <div class="row">
            <div class="col-4 ">
                <img src="assets/img/big-project-image.png" class="rounded container" alt="">
                <h3 class="container mt-3 text-info">Project Name</h3>
                <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, rerum laudantium consequuntur vero et aperiam nisi eius pariatur nostrum necessitatibus sapiente molestiae iure animi sed reiciendis officiis laboriosam ipsam enim.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/big-project-image.png" class="rounded container" alt="">
                <h3 class="container mt-3 text-info" ">Project Name</h3>
                <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, rerum laudantium consequuntur vero et aperiam nisi eius pariatur nostrum necessitatibus sapiente molestiae iure animi sed reiciendis officiis laboriosam ipsam enim.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/big-project-image.png" class="rounded container" alt="">
                <h3 class="container mt-3 text-info">Project Name</h3>
                <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, rerum laudantium consequuntur vero et aperiam nisi eius pariatur nostrum necessitatibus sapiente molestiae iure animi sed reiciendis officiis laboriosam ipsam enim.</p>
            </div>
            
        </div>
        
    </div>
</div>