<!-- your html code here -->
<div class="container bg-white">
    <div class="row px-1">
      <div class="col-4">
        <img src="assets/img/2.jpg" class="img-service2 circle" alt="">
      </div>
      <div class="col-8">
        <p class="h2">The Second Heading <span class="lead">is Pretty Cool Too.</span></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam rerum repellat, vero quod neque est, suscipit et recusandae autem ipsum, optio ipsam. Dolorum ipsa eligendi culpa dolore, labore maiores.</p>
      </div>
    </div>
</div>